/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/
/* 1. Main Layout ================================= */
* {
  box-sizing: border-box; }

body {
  background: #dbcfbe;
  width: 100%;
  height: 100vh;

   }



/* 2. Content ================================= */
.logo {
  width: 100%;
  height: 100px;
  background-image: url(../img/logo.png); 
  background-repeat: no-repeat;
  background-position: center;
}

.main-header {
  display: flex;
  flex-direction: column;
}

.name {
  color: #fff;
  text-align: center;
  font-size: .9em;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #f0470f;
  justify-content: space-around;
  margin-bottom: 5vw;
}

.main-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.main-nav li {
   margin-left: 1%;
   font-size: .8em;
   font-weight: 700;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   text-align: center;
}
.main-nav a {
  color: #f0470f;
  text-decoration: underline;
}

.about{
  display: flex;
  flex-direction: column;
}

.about h1 {
  color: #443526;
  text-transform: uppercase;
  font-size: 2.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;

  letter-spacing: .04em;
}

.tagline {
  color: #443526;
  margin: 2%;
  font-size: 1.2em;
}


.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.table {
  background-color: #e2d9cb;
  flex-basis: 100%;
  border: 1px solid #ebe4db;
  border-radius: 4px;
  margin: 20px;
  padding-bottom: 20px;
}


.frame-icon {
  background-image: url(../img/frame.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: flex;
  align-self: center;
  margin-top: -15px;
  margin-left: 50%;
}

.marshmallow-icon {
  background-image: url(../img/mallow.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: flex;
  align-self: center;
  margin-top: -20px;
  margin-left: 50%;

}

.candy-icon {
  background-image: url(../img/chocolate.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: flex;
  align-self: center;
  margin-top: -20px;
  margin-left: 50%;

}

.accessories-icon {
  background-image: url(../img/star.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: flex;
  align-self: center;
  margin-top: -20px;
  margin-left: 50%;

}

legend {
  color: #443526;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.7em;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
  letter-spacing: .02em;
}

.table p {
  color: #443526;
}

input[type=radio]{
  margin-left: 20px;
  margin-bottom: 8px;
}

input[type=checkbox]{
  margin-left: 20px;
  margin-bottom: 8px;
}

input.textbox {
  margin-left: 2px;
  width: 70%;
  border: 1px solid #c8b69d;
  border-radius: 2px;
}


.name-smore {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;

}

.command {
  color: #443526;
  text-transform: uppercase;
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.build-it {
  color: #fff;
  background-color: #f0470f;
  text-transform: uppercase;
  border: solid 2px #f68f6c;
  font-size: 1em; 

}

button.build-it {
  flex-basis: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;

}

.inspiration {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
}

.inspiration-title {
  color: #443526;
  text-transform: uppercase;
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 20px
}

.recipe-box h2 {
   color: #ede6df;
  text-transform: uppercase;
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.recipe-box {
  margin: 10px;
  background-color: #624c37;
  border: 1px solid #413324;
  width: 400px;
  flex-grow: 2;
}


/*# sourceMappingURL=main.css.map */
